.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}

body {
  margin: 0;
  width: 400vw;
  height: 400vh;
  background-image:url("https://asset.watch.impress.co.jp/img/wf/docs/1251/932/60fpsparrot.gif");
}

 
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}

.rotate {
    width: 100px;
    background-color:  #ccc;
    padding: 78px 40px;
    margin: 100px auto;
    animation: rotate_anime 1s infinite; /* rotate_animeを1秒かけて実行するのを繰り返す */
}
