.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}

#main{
background-image:url(A3B95B94-5D09-48E8-A4F1-7BF4DDEE16D7.gif);
}

.main {
  padding-top: 50px;
  overflow: auto;
}
 
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}

.rotate {
    width: 100px;
    background-color:  #ccc;
    padding: 78px 40px;
    margin: 100px auto;
    animation: rotate_anime 1s infinite; /* rotate_animeを1秒かけて実行するのを繰り返す */
}
